.btnshow{
    position: fixed;
    right: 30px;
    top: 12px;
    z-index: 2;
}
.list.active{
    display: block;
    position: absolute;
    z-index: 1;
    right:0;
    top: 0;
    background-color: rgba(20, 45, 102, 0.941);
}
.list{
    display: none;
}
.list ul {
   
    list-style: none;
    overflow-y: scroll;
    max-height: 500px;
}
.list ul .poster{
    min-width: 150px;
    height: 150px;
    padding-left: 10px;
}
ul li{
    
    margin: 40px 0;
    display: flex;
    margin-bottom: 15px;
}
.info{
    padding: 10px;
    width: 200px;
    
}
.info p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
}

.delete{
    padding: 5px 10px;
    background-color: rgb(40, 176, 194);
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.link__none {
    display: none;
  }
  
  .link__block {
    padding: 5px 3px;
    margin: 10px 0;
    margin-left: 120px;
    width: 100px;
    display: block;
    color: rgb(255 255 255);
    background-color: #0f393d;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
  }
  .link__block:hover{
    background-color: #062124;
  }